<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: title}); %>
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <%- include("partials/messages"); %>
    
    <div class="container-sm mb-5 pt-5">
      <h1 class="display-3 text-center mb-3" style="margin-top: 100px;">Reset your password</h1>
      <hr class="my-5"/>
      <form action="/users/reset" method="post" class="mx-auto was-validated" style="max-width: 600px">
      
        <!-- Username input -->
        <div class="row mt-3">
          <div class="col-sm-6">
            <label for="username" class="form-label">Username</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="username" name="username" autofocus autocomplete="off" required/>
            </div>
          </div>
        </div>

        <!-- Current password input -->
        <div class="row mt-3">
          <div class="col-sm-6">
            <label for="password" class="form-label">Current password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="off" required/>
          </div>
        </div>
        
        <!-- New password input -->
        <div class="row mt-3">
          <div class="col-sm-6">
            <label for="new_pass" class="form-label">New password</label>
            <input type="password" class="form-control" id="new_pass" name="new_pass" autocomplete="off" required/>
          </div>
          
          <!-- Confirm new password -->
          <div class="col-sm-6">
            <label for="confirm_pw" class="form-label">Confirm new password</label>
            <input type="password" class="form-control" id="confirm_pw" name="confirm_pw" autocomplete="off" required/>
          </div>
        </div>

        
        <!-- Update password button -->
        <div class="d-grid col-6 mx-auto my-5">
          <button class="btn btn-outline-info" type="submit">Update Password</button>
        </div>
      </form>
    </div>
  </body>
</html>
